body
    background: #1A1A1A

    #app
        .wrapper
            height: 100%

            margin-inline: 15vw

            background: rgba(255, 255, 255, 0.005)

            .input
                padding-block: 3rem 2rem
                
                .website-url-input-wrapper
                    .website-url-input, .website-url-input>div
                        margin: 0 auto
                
                .turnslite-widget-wrapper
                    margin-top: 1rem
